
h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 60px;
    font-style: bolder;
    margin-top:-120px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    font-style: bolder;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 10px;
    
}
    
body {
    background-image:
        url("the_newestest_one.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    }

.name {
    padding-top: 50vh;
    letter-spacing: 20px
}



<!--TRYINGsomething-->

@font-face {
    font-family:'HeydingsCommonIconsRegular';
    src: url('http://ianfarb.com/random/heydings_icons-webfont.eot');
    src: url('http://ianfarb.com/random/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://ianfarb.com/random/heydings_icons-webfont.woff') format('woff'),
         url('http://ianfarb.com/random/heydings_icons-webfont.ttf') format('truetype'),
         url('http://ianfarb.com/random/heydings_icons-webfont.svg#HeydingsCommonIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {    margin: 0;
  padding: 0;}

body   {  background:#e5e5e5;}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
}

li
{  list-style:none;
   }

li a
    { display:block;
      float:left;
      width:20%;
      padding:25px 0;
      text-align:center;
      font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
      font-weight:700;
      letter-spacing:1px;
      font-size:40px;
      color:#fff;
      background:#ccc;
      text-decoration:none;
      text-transform:uppercase;
      text-shadow:2px 2px 0 rgba(0,0,0,.25);
      transition:.25s;}

li a:hover  {
      margin:-10px 0 0 0;
}

.menu
    {  width:500px;
       margin:60px auto 0 auto;
       border-radius:10px;
       overflow:hidden;}
       
.menu li:first-child a {  background:#FBAD2D !important;}
.menu li:nth-child(2) a {  background:#8D2866 !important;}
.menu li:nth-child(3) a {  background:#582A72 !important;}
.menu li:nth-child(4) a {  background:#2E3868 !important;}
.menu li:nth-child(5) a {  background:#3C718E
!important;}

.menu li:first-child:hover ~ .bg {
  background: #FBAD2D;
  
}
.menu li:nth-child(2):hover ~ .bg {
  background: #8D2866;
}
.menu li:nth-child(3):hover ~ .bg {
  background: #582A72;
}
.menu li:nth-child(4):hover ~ .bg {
  background: #2E3868;
}
.menu li:nth-child(5):hover ~ .bg {
  background: #3C718E;
}
