
h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 80px;
    font-style: bolder;
    margin-top:-55px;
    text-shadow: 1px 1px #C0C0C0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    font-style: bolder;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 10px;
    margin-top: -20px;
    text-shadow: 1px 1px #C0C0C0;
    
}
    
body {
    background-image:
        url("the_newestest_one_dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    }

.name {
    padding-top: 50vh;
    letter-spacing: 20px
}